{% load static %}
<footer class="footer" id="footer">
    <div class="container">
      <div class="footer__row">
        <div class="footer__left footer__item">
          <div class="img">
            <img src="{% static 'img/brand-google.svg' %}" alt="" />
          </div>
          <div class="img">
            <img src="{% static 'img/brand-instagram.svg' %}" alt="" />
          </div>
          <div class="img">
            <img src="{% static 'img/brand-invision.svg' %}" alt="" />
          </div>
        </div>
        <div class="footer__center footer__item">
          <p>ООО «Дент», лицензия №ЛО-86-8681-01868686047 от 13.02.2099 <br>
            © 2018-2021</p>
        </div>
        <div class="footer__right footer__item">
          <a href="">Политика в отношении обработки <br> персональных данных</a>
          <div class="img"><img src="{% static 'img/logo.png' %}" alt=""></div>
        </div>
      </div>
    </div>
  </footer>